{% macro embed(post, classes="", link_to_post=False) %}
<div class="card {{ classes }}">
    <div class="card-body">
    {% if post.platform == 1 %}
        {% from 'posts/embeds/_twitter.html' import twitter_embed %}
        {{ twitter_embed(post) }}
    {% elif post.platform == 2 %}
        {% from 'posts/embeds/_dummy.html' import dummy_embed %}
        {{ dummy_embed(post) }}
    {% else %}
        <strong class="text-danger">Unable to embed post, unknown platform</strong>
    {% endif %}
    </div>
    {% if link_to_post %}
    <div class="card-footer embed__link-to">
        {% from 'posts/_rating.html' import rating_badge %}
        {{ rating_badge(post.get_rounded_score().name, small=True) }}
        <a href="{{ url_for('posts.show', id=post.id) }}" class="text-muted btn-icon-right stretched-link">
            View Full Rating<i class="fas fa-caret-right"></i>
        </a>
    </div>
    {% endif %}
</div>
{% endmacro %}