{% macro twitter_embed(post) %}
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="{{ post.author_profile_url }}" alt="{{ post.author_name }}'s Profile Photo" width="48px" height="48px" class="rounded-circle">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5 class="card-title embed__author-name">{{ post.author_name }}</h5>
            <div class="text-muted embed__author-username">@{{ post.author_username }}</div>
            <p class="embed__text behaviour--add-disclaimer-to-links">
            {{ post.text | urlize(40, true, target='_blank') | newline_to_br }}
            </p>
            <div class="embed__footer">
                <div class="text-muted"><i class="fab fa-twitter"></i> {{ post.formatted_external_created_at() }}</div>
                <button class="btn btn-sm btn-link btn-icon-left text-muted" data-ce-archive-info data-ce-archive-date="{{ post.formatted_created_at() }}" data-ce-original-url="https://twitter.com/{{ post.author_username }}/status/{{ post.external_post_id }}">
                    <i class="fas fa-archive"></i>Archived
                </button>
            </div>
        </div>
    </div>
{% endmacro %}