{% extends "layout/base.html" %}
{% set active_page = 'submit' %}

{% block page_title %}Submit a Post{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Submit a Post</h1>

            <p class="lead">Submit a Twitter URL to check the CrowdEval database</p>

            <form action="{{ url_for('posts.submit') }}" method="post" id="submit_post" class="behaviour--disable-on-submit">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.url) }}
                {{ form.recaptcha }}
                <button type="submit" class="btn btn-primary mt-3">Submit and Rate</button>
            </form>
        </div>
    </div>
    
{% endblock %}