$font-family-sans-serif: "Red Hat Text", sans-serif;
$headings-font-family: "Red Hat Display", sans-serif;
$headings-font-weight: 900;
$display-font-weight: 900;

$colour-false: #D0021B;
$colour-mostly-false: #FF7F00;
$colour-mixed: #F8E71C;
$colour-mostly-true: #7ED321;
$colour-true: #417505;
