@import "_variables";
@import '~bootstrap/scss/bootstrap';

@import "components/_embed";
@import "components/_rating-field";
@import "components/_rating";
@import "components/_review";

@import "pages/_home";
@import "pages/_post";

.btn-icon-left {
    i, svg {
        margin-right: 0.3em;
    }
}

.btn-icon-right {
    i, svg {
        margin-left: 0.3em;
    }
}

.container-narrow {
    width: auto;
    max-width: 840px;
}

.sticky-footer {
    font-size: 0.85rem;
}