.embed {
    &__author-name {
        font-weight: bold;
        margin-bottom: 0;
    }

    &__author-username {
        margin-bottom: 0.5rem;
    }

    &__text {
        margin-bottom: 0.5rem;
    }
}