.embed {
    &--is-stacked {
        .embed__footer {
            flex-direction: column;
            align-items: flex-start;

            button {
                padding-left: 0;
            }
        }
    }

    &__author-name {
        font-weight: bold;
        margin-bottom: 0;
    }

    &__author-username {
        margin-bottom: 0.5rem;
    }

    &__text {
        margin-bottom: 0.5rem;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link-to {
        font-size: 0.7em;
        text-align: center;

        display: flex;
        justify-content: space-between;
    }
}