<footer class="bg-light mt-auto text-muted pt-3 sticky-footer">
    <div class="container d-md-flex justify-content-between">
        <p><a href="{{ url_for('pages.license') }}" class="text-muted">Copyright &amp; License</a>. Source available on <a href="https://github.com/freddyheppell/crowdeval" class="text-muted"><i class="fab fa-github me-1"></i>GitHub</a>.</p>
        <p class="text-md-end">
            <a href="mailto:crowdeval-group@sheffield.ac.uk" class="me-3 text-muted">Contact</a>
            <a href="{{ url_for('pages.terms') }}" class="me-3 text-muted">Terms</a>
            <a href="{{ url_for('pages.privacy') }}" class="text-muted">Privacy</a>
        </p>
    </div>
</footer>