{% extends "layout/base.html" %}

{% block page_title %}Welcome to CrowdEval{% endblock %}

{% block content %}
<div class="home-header">
    <h1 class="display-1">A communal <i class="home-highlight">fact checker</i> for social media.</h1>

    <div class="alert alert-warning d-flex align-items-center mt-5">
        <i class="fas fa-construction flex-shrink-0 me-2 fa-lg"></i>
        <span>This is a demonstration instance of CrowdEval. It is not intended for real fact-checking use as it may be reset periodically.</span>
    </div>
</div>
{% endblock %}

