<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>
            {% block page_title %}{% endblock %} - CrowdEval
        </title>

        <link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='css/app.css') }}"/>

        <script type="text/javascript" src="{{ static_url_for('static', filename='js/app.js') }}" defer></script>
        <script src="https://kit.fontawesome.com/2fa44b0192.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% import "bootstrap/wtf.html" as wtf %}
        {% include 'layout/_nav.html' %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                    <!-- end .alert -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content_noc %}{% endblock %}
        <div class="container mt-3">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>