{% extends "layout/base.html" %}

{% block container_classes %}container-narrow{% endblock %}

{% block page_title %}Privacy Policy{% endblock %}

{% block content %}
    <h1>Privacy Policy</h1>

    <p class="text-muted">Version 1: 2nd July 2021</p>

    <h2>Who we are</h2>
    <p>The CrowdEval demonstration service is operated by the Department of Computer Science, The University of Sheffield, Regent Court, 211 Portobello, Sheffield, S1 4DP.</p>
    <p>The service is managed by members of the department, who can be contacted at <a href="mailto:crowdeval-group@sheffield.ac.uk">crowdeval-group@sheffield.ac.uk</a>.</p>

    <h2>The type of personal information we collect</h2>
    <p>We currently collect and process the following information:</p>
    <ul>
        <li>Email addresses</li>
        <li>Twitter names and usernames</li>
        <li>Twitter user IDs</li>
    </ul>

    <h2>How we get the personal information and why we have it</h2>
    <p>Some personal information we process is provided to us directly by you because you have signed up to CrowdEval.</p>

    <p>We also receive personal information indirectly, from the following sources in the following scenarios:</p>
    <ul>
        <li>If another person submits a social media post you have created to CrowdEval, your name and username are received from Twitter.</li>
    </ul>

    <p>We use the information that you have given us in order to offer the CrowdEval service, in the following ways:</p>
    <ul>
        <li>Email addresses are used to identify users, and to contact them if necessary for the operation of the service</li>
        <li>Twitter names, usernames and user IDs, when suppplied directly by you, are used to identify you and your contributions to the platform</li>
        <li>Twitter names, usernames and user IDs, when supplied indirectly to us, are stored alongside other content supplied by Twitter in relation to the submitted post, and used to archive that post.</li>
    </ul>

    <p>Under the General Data Protection Regulation (GDPR), the lawful bases we rely on for processing this information are:<br>
    <ul>
        <li><strong>For data you have supplied to us directly:</strong> your consent. You are able to remove your consent at any time, by contacting the service operators at <a href="mailto:crowdeval-group@sheffield.ac.uk">crowdeval-group@sheffield.ac.uk</a>.</li>
        <li><strong>For data we have been supplied indirectly:</strong> we need to perform a public task. For further information, please see the <a href="https://www.sheffield.ac.uk/govern/data-protection/privacy/general">University's Privacy Notice</a>.</li>
    </ul>


    <h2>How we store your personal information</h2>
    <p>Your information is securely stored on servers operated by the Department of Computer Science, The University of Sheffield.</p>

    <p>All personal data will be kept for as long as is necessary for the functioning of the service. In the case of data supplied directly by you, this is as long as you have an account on the service. For data supplied indirectly, this is indefinite, as the service functions as an archive of this data.</p>

    <h2>Your data protection rights</h2>
    <p>Under data protection law, you have rights including:</p>
    <ul>
        <li><strong>Your right of access</strong>: You have the right to ask us for copies of your personal information.</li>
        <li><strong>Your right to rectification</strong>: You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.</li>
        <li><strong>Your right to erasure</strong>: You have the right to ask us to erase your personal information in certain circumstances. </li>
        <li><strong>Your right to restriction of processing</strong>: You have the right to ask us to restrict the processing of your personal information in certain circumstances.</li>
        <li><strong>Your right to object to processing</strong>: You have the the right to object to the processing of your personal information in certain circumstances.</li>
        <li><strong>Your right to data portability</strong>: You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.</li>
    </ul>

    <p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.</p>

    <p>Please contact us at <a href="mailto:crowdeval-group@sheffield.ac.uk">crowdeval-group@sheffield.ac.uk</a> if you wish to make a request.</p>

    <p>Under the lawful basis of consent, you do not have the right to object. However, you may withdraw your consent at any time as detailed in this policy.</p>
    <p>Under the lawful basis of processing data in order to perform a public task, you do not have the right to erasure and data portabilty. Furthermore, the processing of data for academic and archival purposes is exempt from many individual rights.</p>

    <h2>How to complain</h2>
    <p>If you have any concerns about our use of your personal information, you can make a complaint to us at:</p>
    <address>
        <strong>University Data Protection Officer</strong><br>
        IT Services<br>
        10-12 Brunswick Street<br>
        Sheffield<br>
        S10 2FN
    </address>

    <p>You can also complain to the ICO if you are unhappy with how we have used your data. </p>
    <address>
        <strong>Information Commissioner’s Office</strong><br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        Cheshire<br>
        SK9 5AF<br>
        <em>Helpline number: </em> 0303 123 1113<br>
        <em>ICO website: </em> <a href="https://www.ico.org.uk">https://www.ico.org.uk</a>
    </address>
{% endblock %}