{% extends "layout/base.html" %}

{% block page_title %}Show Post{% endblock %}

{% block content %}
    <h1>Explore: {{ label }}</h1>

    <div class="row">
        <div class="col-md-3">
            <h4>Filter</h4>

            <div class="list-group mb-3">
                <a href="{{ url_for('explore.latest') }}" class="list-group-item list-group-item-action {% if active_filter == 'latest' %} active {% endif %}" aria-current="true">
                    Latest
                </a>
            </div>

            <div class="list-group">
                <a href="{{ url_for('explore.by_result', rating='true') }}" class="list-group-item list-group-item-action {% if active_filter == 'true' %} active {% endif %}">True</a>
                <a href="{{ url_for('explore.by_result', rating='likely-true') }}" class="list-group-item list-group-item-action {% if active_filter == 'likely-true' %} active {% endif %}">Likely True</a>
                <a href="{{ url_for('explore.by_result', rating='mixed') }}" class="list-group-item list-group-item-action {% if active_filter == 'mixed' %} active {% endif %}">Mixed</a>
                <a href="{{ url_for('explore.by_result', rating='likely-false') }}" class="list-group-item list-group-item-action {% if active_filter == 'likely-false' %} active {% endif %}">Likely False</a>
                <a href="{{ url_for('explore.by_result', rating='false') }}" class="list-group-item list-group-item-action {% if active_filter == 'false' %} active {% endif %}">False</a>
            </div>

            <div class="text-muted">
                {{ "{:,}".format(pagination.total) }} results.
            </div>
        </div>
        <div class="col-md-9">
            {% from 'posts/embeds/_embed.html' import embed %}
            {% for post in pagination.items %}
                {{ embed(post, classes="mb-3", link_to_post=True) }}
            {% endfor %}

            <ul class="pagination mt-5 justify-content-center">
                <li class="page-item {% if pagination.page == 1 %} disabled {% endif %}"><a class="page-link" href="?page={{ pagination.prev_num }}">Previous</a></li>

                {% for page_num in pagination.iter_pages() %}{% if page_num %}
                    {% if pagination.page == page_num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    {% endif %}
                {% endfor %}

                <li class="page-item {% if pagination.page == pagination.pages or pagination.pages == 0 %} disabled {% endif %}">
                    <a class="page-link" href="?page={{ pagination.next_num }}">Next</a>
                </li>
            </ul>    

        </div>
    </div>
{% endblock %}