{% extends "layout/base.html" %}

{% block page_title %}Rate Post{% endblock %}

{% block content %}
    <h1>Rate a post</h1>

    {% with message = get_flashed_messages(category_filter=["post_submit_status"]) %}
    {% if message|length > 0 %}
        {% if message[0] == "new" %}
            <div class="fs-4 fw-bold text-success mb-5"><i class="fas fa-sparkles me-2"></i> We've never seen this post before</div>
        {% endif %}
    {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-4">
            {% from 'posts/embeds/_embed.html' import embed %}
            {{ embed(post) }}
        </div>
        <div class="col-md-8">
            <form action="{{ url_for('posts.rate', id=post.id) }}" method="post" id="submit_rating">
                {{ wtf.form_errors(form) }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.rating) }}
                {{ wtf.form_field(form.category_id) }}
                {{ wtf.form_field(form.comments) }}
                {{ form.recaptcha }}
                
                <button type="submit" class="btn btn-primary">Submit and Rate</button>
            </form>
        </div>
    </div>

{% endblock content %}