{% extends "layout/base.html" %}

{% block page_title %}Show Post{% endblock %}

{% block content_noc %}
    {% with message = get_flashed_messages(category_filter=["post_submit_status"]) %}
    {% if message|length > 0 %}
        {% if message[0] == "existing" %}
            <div class="bg-light py-3">
                <div class="container">
                    <div class="fs-4 fw-bold">We've seen this post before, here's what the crowd says</div>
                    <p class="lead">Other CrowdEval users have rated this post, and we've compared it to {{ "{:,}".format(post_count) }} other posts.</p>

                    <a href="{{ url_for('posts.rate', id=post.id) }}" class="btn btn-secondary btn-sm btn-icon-right">Add your rating <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="post-heading">
        <h1>Rating for {{ post.author_name }}'s Post</h1>
        <a href="{{ url_for('posts.rate', id=post.id) }}" class="btn btn-outline-secondary btn-icon-right">Add your rating <i class="fas fa-arrow-right"></i></a>
    </div>

    <div class="row mb-5">
            <div class="col-md-5 rating__embed">
                {% from 'posts/embeds/_embed.html' import embed %}
                {{ embed(post) }}
            </div>
            <div class="col-md-4">
                {% from 'posts/_rating.html' import rating, rating_badge %}
                {{ rating(post) }}
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled category-list">
                    {% for category in post.get_top_categories()[:5] %}
                    <li class="category-list--is-{{ loop.index }}"><i class="{{ category.icon_class}} fa-fw"></i> {{ category.name }}</li>
                    {% endfor %}
                </ul>
            </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Similar Posts</h2>
            <div class="mb-3">Similar posts are generally {{ rating_badge(similar_post_rating.name, small=True, inline=True) }}</div>
            <div class="row">
                {% for post in similar_posts %}
                    <div class="col-md-6 mb-2">
                        {# {{ scores[post.id] }} #}
                        {{ embed(post, classes="embed--is-stacked", link_to_post=True) }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <h2>Comments</h2>

            {% for rating in post.ratings %}
            <div class="review">
                <div class="review__text">
                    {% if rating.comments != "" %}
                        {{ rating.comments }}
                    {% else %}
                        <em class="text-muted">This user didn't leave a comment</em>
                    {% endif %}
                </div>
                <div class="review__footer">
                    <div>{{ rating_badge(rating.to_enum().name, small=True) }}</div>
                    <div>
                        <a href="#" class="text-muted"><i class="fas fa-flag"></i></a>
                        <span class="review__date text-muted">{{ rating.get_human_created_at() }}</span>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="text-muted fst-italic">No ratings yet, why not leave one?</div>
            {% endfor %}
        </div>
    </div>
     
{% endblock %}