{% extends "layout/base.html" %}

{% block page_title %}Show Post{% endblock %}

{% block content %}
    <h1 class="mb-3">Rating for {{ post.author_name }}'s Post</h1>

    <div class="row">
        <div class="col-md-5 rating__embed">
            {% from 'posts/embeds/_embed.html' import embed %}
            {{ embed(post) }}
        </div>
        <div class="col-md-7">
            {% from 'posts/_rating.html' import rating, rating_badge %}
            {{ rating(post) }}
        </div>
    </div>

    

    <div class="row">
        <div class="col-md-6">
            <h2>Similar Posts</h2>

            <div class="row">
                {% for post in similar_posts %}
                    <div class="col-md-6">
                    {# {{ scores[post.id] }} #}
                    {{ embed(post) }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <h2>Comments</h2>
            {% for rating in post.ratings %}
            <div>
                {{ rating.comments }}<br>
                {{ rating.user.username }}
                {{ rating_badge(rating.to_enum().name, small=True) }}
            </div>
            {% endfor %}
        </div>
    </div>
     
{% endblock content %}